@model List<AltairScope.Models.ViewableNeighbourhoodViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<style type="text/css">
.content-wrapper {
	max-width: 1540px !important;
} 
</style>

@Html.Grid(Model).Columns(column =>
	{
		column.Add(p => p.Name).Titled("Name").Filterable(true);
		column.Add(p => p.Income).Titled("Income").Sortable(true);
		column.Add(p => p.IncomeScore).Titled("Score").Sortable(true);
		column.Add(p => p.MedianPrice).Titled("Median Price");
		column.Add(p => p.Rental).Titled("Rental");
		column.Add(p => p.PRRatio).Titled("P/R").Format("{0:0.00%}").Sortable(true);
		column.Add(p => p.VacancyRatio).Titled("Vacancy").Format("{0:0.00%}").Sortable(true);
		column.Add(p => p.CrimeIndex).Titled("Crime").Sortable(true);
		column.Add(p => p.Appreciation_10Y).Titled("App 10y").Format("{0:0.00%}").Sortable(true);
		column.Add(p => p.Appreciation_5Y).Titled("App 5y").Format("{0:0.00%}").Sortable(true);
		column.Add(p => p.Appreciation_2Y).Titled("App 2y").Format("{0:0.00%}").Sortable(true);
		column.Add(p => p.Appreciation_1Q).Titled("App 1Q").Format("{0:0.00%}").Sortable(true);
		column.Add(p => p.Appreciation_Mean).Titled("App Mean").Format("{0:0.00%}").Sortable(true);
		
		column.Add(p => p.Id).Titled("Actions")
							 .Sanitized(false).Encoded(false)
							 .RenderValueAs(p => Html.ActionLink("Edit", "Edit", "Neighbourhood", new { Id = p.Id }, null) + "" +
												 Html.ActionLink("View", "View", "Neighbourhood", new { Id = p.Id }, null) + "" +
												 "<a href=\"" + p.Url + "\">Scout</a>");
	}).WithPaging(40).WithMultipleFilters()
